# FOR-LOOP Questions

Q1: Write a program that prints the squares of numbers from 1 to 10 using a for loop.

In [1]:
for i in range(1,11):
    print(i**2)

1
4
9
16
25
36
49
64
81
100

Q2: Ask the user for a number n and print its multiplication table from 1 to 10.

In [2]:
num = int(input("enter a number to print its multiplication table"))
for i in range(1,11):
    print(f"{num}x{i}={num*i}")

5x1=5
5x2=10
5x3=15
5x4=20
5x5=25
5x6=30
5x7=35
5x8=40
5x9=45
5x10=50

Q3: Write a program using a for loop to calculate the factorial of a given number.

::there are two ways of doing this question one is the conventional method of using for loop other is to use the math module of the python.

In [ ]:
#method 1
num = int(input("enter a number to calsulate its factorial"))
fact = 1
if num<0:
    print("-1, negative numbers dont have factorial")
elif num == 0:
    print("1, is the factorial")
else:

    for i in range(1,num+1):
        fact = fact * i
    print(f"{fact} is the factorial of {num}")

120 is the factorial of 5

In [ ]:
#method 2
#math.factorial() is not defined for negative integers
import math as mt #importing the math function as mt
num = int(input("enter a number to calculate its factorial"))
if num<0:
    print("-1, negative numbers dont have factorial")
elif num == 0:
    print("1, is the factorial")
else:
    print(mt.factorial(num)) #using the math function

3628800

Q4:Print numbers from 100 down to 1 using a for loop.

In [18]:
for i in range(100,0,-1):
    print(i)

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

Q5:Ask the user for a number and find the sum of its digits using a for loop (iterate over string digits).

In [19]:
num = input("enter a number to find sum of its digits")
total = 0
for i in num:
    total = total + int(i)
print(total)

6

Q6:Print the following triangle pattern using a for loop:

In [20]:
for i in range(1,11):
    print("*"*i)

*
**
***
****
*****
******
*******
********
*********
**********

Q7: Ask the user for a word and count the number of vowels using a for loop.

In [ ]:
text = input("enter a word")
vcount=0
text = text.lower()
for i in text:
    if (i=="a") or (i=="e") or (i=="o") or (i=="u") :
        vcount += 1
print(vcount)

3

Q8: Print all prime numbers between 2 and 50 using for loop

In [ ]:
for num in range(2, 51):
    is_prime = True
    for i in range(2, int(num**0.5) + 1): #or we can go till only num, but sqrt of num is an optimization
        if num % i == 0:
            is_prime = False #the boolean is used to check for a number whether is it prime and break inner for loop for further checking
            break
    if is_prime:
        print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

Q9:Print the first n terms of the Fibonacci sequence using a for loop.

In [23]:
a = 0
b = 1
c = 0
sqn = int(input("enter the value uptill you want fibonacci sequence"))
print(a)
print(b)
for i in range(1,sqn-2):
    c = a + b
    print(c)
    a=b
    b=c

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181
6765
10946
17711

Q10:Ask the user to enter 10 integers. Using a for loop, count how many are odd and how many are even.

In [2]:
countE=0
countO=0
for i in range(10):
    num = int(input("enter a number: "))
    print(num)
    if num%2==0:
        countE = countE + 1
    else:
        countO = countO + 1
print(f"{countE} is the amount of even numbers you entered, {countO} is the amount of odd numbers you entered")

2
12
11
21
42
54
23
54
66
32
7 is the amount of even numbers you entered, 3 is the amount of odd numbers you entered

Q11: Ask the user to enter 5 words. Use a for loop to check each one and print whether it’s a palindrome or not.

In [12]:
nstring=""
for i in range(5):
    nstring=""
    str=input("enter a string to check whether its a palindrome or not")
    str = str.lower()
    for z in range(len(str)-1,-1,-1):
        nstring = nstring + str[z]
    print(nstring)    
    if nstring==str:
        print(f"word {str} ---> palindrome")
    else:
        print(f"word {str} ---> not a palindrome")

madam
word madam ---> palindrome
jdba
word abdj ---> not a palindrome
nafa
word afan ---> not a palindrome
hguelb
word bleugh ---> not a palindrome
aaaaaaa
word aaaaaaa ---> palindrome

Q12:printing stars using `nested for loop`

In [29]:
#(end") funtion will be used to print the stars as new line isnt needed to be added
#nested for loop
'''
for n=3
  *
 ***
*****
spaces = n-i
every line has odd numbers of stars hence 2xi-1
'''
n = int(input("enter the number of rows you want your pattern of star to be printed"))
for i in range(1,n+1):
    #spaces
    for z in range(n-i):
        print(" ", end="")
    #printing *
    for j in range((2*i)-1):
        print("*", end="")
    print()

      *
     ***
    *****
   *******
  *********
 ***********
*************

In [34]:
# this code is without nested for loor
n = int(input("enter the number of rows you want for star pattern"))
for i in range(1,n+1):
    # print spaces first
    print((n-i)*" ", end="")
    # print * then
    print((2*i-1)*"*", end="")

    print("")

     *
    ***
   *****
  *******
 *********
***********

Q13: Ask the user for a string and use a for loop to count how many times each character appears.

Expected output:

Enter: banana  
b → 1  
a → 3  
n → 2

In [37]:
txt = input("enter a word")
print(txt)
txt = txt.lower()
for i in txt:
    count=0
    for j in range(len(txt)):
        if txt[j]==i:
            count +=1
    print(f"{i} ---> {count}")

banana
b ---> 1
a ---> 3
n ---> 2
a ---> 3
n ---> 2
a ---> 3

Q14: Ask the user for a number n and find the sum of all multiples of 3 and 5 up to n using a for loop.

In [39]:
total = 0
n = int(input("enter a number: "))
for i in range(1,n+1):
    
    if i%3==0 or i%5==0:
        print(i)
        total = total + i
print(total)

3
5
6
9
10
12
15
18
20
98